{{#result}}
    <ul>
        <li>
            StudentNo: {{st_id}}
        </li>
        <li>
            Name: {{name}}
        </li>
        <li>
            No: {{class}}-{{ban}}-{{num}}
        </li>
        <li>
            RF_CARD_NUM: {{rf_card_num}}
        </li>
    </ul>
{{/result}}
